


NET "r<0>" IOSTANDARD = LVCMOS33; 
NET "r<1>" IOSTANDARD = LVCMOS33; 
NET "r<2>" IOSTANDARD = LVCMOS33;
NET "g<0>" IOSTANDARD = LVCMOS33; 
NET "g<1>" IOSTANDARD = LVCMOS33 ; 
NET "g<2>" IOSTANDARD = LVCMOS33 ; 
NET "b<0>" IOSTANDARD = LVCMOS33; 
NET "b<1>" IOSTANDARD = LVCMOS33; 
NET "HS" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "paus" IOSTANDARD = LVCMOS33;
NET "quit" IOSTANDARD = LVCMOS33;
NET "VS" IOSTANDARD = LVCMOS33;



NET "r<0>" LOC = U7; 
NET "r<1>" LOC = V7; 
NET "r<2>" LOC = N7;
NET "g<0>" LOC = P8; 
NET "g<1>" LOC = T6 ; 
NET "g<2>" LOC = V6 ; 
NET "b<0>" LOC = R7; 
NET "b<1>" LOC = T7; 
NET "clk" LOC = V10;
NET "HS" LOC = N6;
NET "paus" LOC = B8;
NET "quit" LOC = D9;
NET "VS" LOC = P7;
NET "state[0]" LOC = U16;
NET "state[1]" LOC = V16;
NET "state[2]" LOC = U15;


NET "state[0]" IOSTANDARD = LVCMOS33;
NET "state[1]" IOSTANDARD = LVCMOS33;
NET "state[2]" IOSTANDARD = LVCMOS33;


NET "data_r" IOSTANDARD = LVCMOS33;
NET "data_t" IOSTANDARD = LVCMOS33;
NET "RST" IOSTANDARD = LVCMOS33;
NET "STATUS_IN" IOSTANDARD = LVCMOS33;
NET "STATUS_OUT" IOSTANDARD = LVCMOS33;

NET "STATUS_OUT" LOC = T11;
NET "STATUS_IN" LOC = D12;
NET "RST" LOC = C12;

//F11;N17
NET "data_r" LOC = F11;

//F10;N18
NET "data_t" LOC = F10;



NET "pushin" LOC = C9;


NET "test" LOC = M11;


NET "test" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "data_r2" LOC = N17;

# PlanAhead Generated IO constraints 

NET "data_r2" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "data_t2" LOC = N18;

# PlanAhead Generated IO constraints 

NET "data_t2" IOSTANDARD = LVCMOS33;
